# Data sctructures in Python 
1. </s>Lists - mutable, [], ordered collection
2. </s>Tuples - immutable,()
3. </s>Dictionaries - mutable,{}, unordered collection, key & value
4. </s>Sets - mutable,{}, unique items , unordered

### Lists are collection of ordered collection of items :
* it can store multiple types of data ie strings int float etc
* list slicing are similar to as of strings

### BASIC FUNCTIONS

In [1]:
num = [1,2,3,4]
print(num)

[1, 2, 3, 4]

In [2]:
words = ["india","aus","nepal"]
print(words)

['india', 'aus', 'nepal']

In [4]:
mixed = num +words
print(mixed)

[1, 2, 3, 4, 'india', 'aus', 'nepal']

In [6]:
## Slicing 
print("Printing reverse of elements")
print(mixed[::-1])

Printing reverse of elements
['nepal', 'aus', 'india', 4, 3, 2, 1]

In [7]:
## aceessing an element inside list 
print(mixed[4])

india

In [8]:
## changing element in list 
mixed[4] = "china"
print(mixed)

[1, 2, 3, 4, 'china', 'aus', 'nepal']

## Adding Data in list:
> + append - Adds element to the end of the list
> + insert - insert(postion,element)
> + concatenate two lists - using add sing (+)
> + extend -while adding two lists it will expend a partiular list with addition of items,

* Note : we cannot use append while addition of two list because it will create a list inside a list

In [25]:
fruits_1 = ["apple","grapes"]
print(fruits)

['apple', 'guava', 'grapes', 'chiku']

In [26]:
# to add an item in a list 
fruits_1.append("chiku")
print(fruits)

['apple', 'guava', 'grapes', 'chiku']

In [27]:
## adding item to particular position
fruits_1.insert(1,"guava")
print(fruits)

['apple', 'guava', 'grapes', 'chiku']

In [28]:
## Extend 
fruit = ["watermelon"]
fruits_1.extend(fruit)
print(fruits_1)

['apple', 'guava', 'grapes', 'chiku', 'watermelon']

## Deletion of data in Lists :
> + pop - deletes last element in a list , syntax - pop(position)
> + del - deletes any position element from list 
> + remove - remove element by value

In [42]:
fruits_1 = ["apple","grapes","strawberry"]
print(fruits_1)

['apple', 'grapes', 'strawberry']

In [43]:
fruits_1.pop()
print(fruits_1)

['apple', 'grapes']

In [45]:
## remove element via position:
fruits_1.pop(1)
print(fruits_1)

['apple']

In [47]:
## delete
fruits_1 = ["apple","grapes","strawberry"]
print(fruits_1)
del fruits_1[1]
print(fruits_1)

['apple', 'grapes', 'strawberry']
['apple', 'strawberry']

In [48]:
# remove method
fruits_1 = ["apple","grapes","strawberry"]
print(fruits_1)
fruits_1.remove("strawberry")
print(fruits_1)

['apple', 'grapes', 'strawberry']
['apple', 'grapes']

### using keywrods in list:
> in - check element in a list , returns boolean

In [50]:
fruits = ["apple","grapes","strawberry"]
print(fruits)

## in method 

print("apple" in fruits)

['apple', 'grapes', 'strawberry']
True

##  Methods in lists :

> + count method : returns count of element 
> + sort : sort aplhabatically , numbers in order  
sorted : it will display sorted values but changes the original values of a list
> + clear: deletes all items in a list
> + copy : copies items of a list
> + split : converts string into list
> + join : convert list to string

In [52]:
alpha = ['b','m','a','d']
print(alpha)
## sort 
alpha.sort()
print(alpha)

['b', 'm', 'a', 'd']

In [55]:
nums = [12,3,5,7]
print(nums)
## sort 
nums.sort()
print(nums)

[12, 3, 5, 7]
[3, 5, 7, 12]

In [57]:
## clear
nums.clear()
print(nums)

In [65]:
## split method
user_info = "nepal 23"
## style 1
name,age = user_info.split(" ")
print(name)
print(age)

## style 2 
print(user_info)
user_info = user_info.split(" ")
print(user_info)

nepal
23
nepal 23
['nepal', '23']

In [67]:
user_info = ["nepal",'23']
print(user_info)
print(','.join(user_info))

['nepal', '23']
nepal,23

## List comparision:
> + '==' , 'is' :
    * == : checks if values of lists are same 
    * is : checks if two lists are same in our memory , i.e two objects are in same memory

In [59]:
fruits_1 = ["apple","grapes","strawberry"]
fruits_2 = ["chiku","orange",'apple']

In [60]:
## Checking ist two lists are same
fruits_1 == fruits_2

False

In [63]:
fruits_1 = ["apple","grapes","strawberry"]
fruits_2 = ["apple","grapes","strawberry"]
fruits_1 is fruits_2

False

## List VS array 
* list can store any datatype, flexible
* array can store only single datatype
    * arrays are more faster
    * numpy array have c type binding (we get performance of c with usages of python)

## List vs Strings
* List are mutable i.e if we use pop or any methods changes are made in original list
* Strings are immutable - strings cannot be changed eg- string.title()

## List inside list
* 2D list

In [73]:
## using 2D list
matrix = [[1,2,3],[4,5,6],[5,6,7]]
print(matrix)
len(matrix)

[[1, 2, 3], [4, 5, 6], [5, 6, 7]]

3

In [74]:
print(matrix[0])

[1, 2, 3]

In [76]:
for i in matrix:
    print(i)

[1, 2, 3]
[4, 5, 6]
[5, 6, 7]

In [77]:
for sub in matrix:
    for sublist in sub:
        print(sublist)

1
2
3
4
5
6
5
6
7

In [78]:
## accessing a value in a 2d list
matrix[1][1]

5

### Generating lists with range fuction

In [97]:
lis = list(range(1,10))
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### To find index of a value in a list

In [98]:
lis[2]=10
print(lis)

[1, 2, 10, 4, 5, 6, 7, 8, 9]

In [100]:
print(lis.index(10))

2

In [101]:
## Exercise
lis = [1,2,3,4,5]
## print square of these nums

In [114]:
def lis_sq1(a):
    out = []
    out = [i*i for i in a]
    return out

def lis_sq2(a):
    out = []
    for i in a:
        out.append(i*i)
    return out

In [115]:
lis_sq1(lis)

[1, 4, 9, 16, 25]

In [116]:
lis_sq2(lis)

[1, 4, 9, 16, 25]

In [117]:
## reverse of list
lis[::-1]

[5, 4, 3, 2, 1]

In [125]:
## Exercise 
# given a list return reserve of list along with reversed of elements
lis = ['abc','dab','tab','far']
print(lis)

['abc', 'dab', 'tab', 'far']

In [122]:
lis[0][::-1]

'cba'

In [124]:
[print(i[::-1]) for i in lis]

cba
bad
bat
raf

[None, None, None, None]

In [126]:
## Exercise 
# given a list return 2d list which contains odds & evens seperatly

lis = [1,2,3,4,5,6,7,8,9]
out = [[1,3,5,7,9],[2,4,6,8]]

In [132]:
## ans
def seprator_od_ev(lis):
    even = []
    odd = []
    out = []
    for i in lis:
        if i%2==True:
            even.append(i)
        else:
            odd.append(i)
    out.append(even)
    out.append(odd)
    return out

In [133]:
seprator_od_ev(lis)

[[1, 3, 5, 7, 9], [2, 4, 6, 8]]

## Take two list 
find common elements in two list:
a = [1,2,3,4,5,6]
 & b= [1,12,3,14,23]

In [139]:
a = [1,2,3,4,5,6] 
b= [1,12,3,14,23]

In [150]:
out = []
for i in range(0,len(a)):
    for j in range(0,len(b)):
        if a[i]==b[j]:
            out.append(a[i])
print(out)

[1, 3]

In [154]:
print(type(out))

<class 'list'>

## Tuples- 
* They are immutable 
* no append , no insert , no pop , no remove 
* they are fast
* methods used - count , index (for position), len , slicing 
* it doesnt support item assignment

In [153]:
tup = ('one','two','three')
print(tup)
print(type(tup))

('one', 'two', 'three')
<class 'tuple'>

In [157]:
## for loop in tuple , looping is similar to as of lists 
for i in tup:
    print(i)

one
two
three

## list inside tuple :
* if an list is added in side tuple normal lists inside that list of a tuple

In [161]:
tup = ('one',[1,2,3],'four')
print(tup)
print(type(tup))

('one', [1, 2, 3], 'four')
<class 'tuple'>

In [166]:
tup[1][0] = 7
tup

('one', [7, 2, 3], 'four')

In [168]:
## but this cant be done
print(tup[0])
tup[0]='three'
print(tup)

one

TypeError: 'tuple' object does not support item assignment

### Methods of tuple :
* count: count of item
* index: position
* len

In [169]:
tup = (1,1,2,7,8)
print(tup)
tup.count(1)

(1, 1, 2, 7, 8)

2

In [170]:
len(tup)

5

In [171]:
tup.index(8)

4

## Function return two values:
If we return two values from a function it return is in tuple

In [172]:
### Example :

def func(val1,val2):
    add = val1+val2
    mul = val1*val2
    return add,mul

In [173]:
func(2,4)

(6, 8)

In [175]:
## to store it differently :
add , mul = func(2,4)
print(add,mul)

6 8

## Dictionaries
They are unordered collection of data in key : value pair
* it can stoire num, lists , strings , dic

In [179]:
## Creating a dic : method 1
dic = {name:'harry',age:23 }
dic

{'nepal': 'harry', '23': 23}

In [180]:
print(type(dic))

<class 'dict'>

In [182]:
## Creating a dic : method 2
dic = dict(name= 'aswin',age=21)
print(dic)

{'name': 'aswin', 'age': 21}

In [188]:
## Acesssing data from dic 
print(dic.keys())
print(dic['name'])
print(dic['age'])

dict_keys(['name', 'age'])
aswin
21

In [190]:
## How to add data in dic:
user_info = {}
## 1. add key
user_info['name'] = 'name1'

In [191]:
user_info

{'name': 'name1'}

## In keyword & iterations in dic:
* check if there is a key 
* check if there is a value
* run a loop inside a dic - key method , item method , item method

In [206]:
dic = {'name':'harry','age':23 ,'jobs':['google','apple']}
dic

{'name': 'harry', 'age': 23, 'jobs': ['google', 'apple']}

In [207]:
## if a key exists in a dic :
if 'name' in dic:
    print('yes')

yes

In [208]:
## check if a value exists inside a dic :
if 'harry' in dic.values():
    print('yes')

yes

In [209]:
dic.values()

dict_values(['harry', 23, ['google', 'apple']])

In [210]:
## Items method 
dic.items()

dict_items([('name', 'harry'), ('age', 23), ('jobs', ['google', 'apple'])])

In [211]:
for key,value in dic.items():
    print(f"key is {key} and its value is {value}")

key is name and its value is harry
key is age and its value is 23
key is jobs and its value is ['google', 'apple']

## Adding & deleting data from dictinories
- pop key method - for deletion but deletes the key with value , we have to pass the name of the key
- update mehtod
- fromkeys - to create a dic where different keys would have same value
- get method is used to access keys 
- clear - to empty an dict
- copy -to copy a existing dic to new one , = doesnt work it will work with original dic as its values are stored in same memory

In [212]:
dic = {'name':'harry','age':23 ,'jobs':['google','apple']}
dic

{'name': 'harry', 'age': 23, 'jobs': ['google', 'apple']}

In [213]:
dic['fav_song'] = ['fkj','coldplay']
dic

{'name': 'harry',
 'age': 23,
 'jobs': ['google', 'apple'],
 'fav_song': ['fkj', 'coldplay']}

In [215]:
## pop method to delete 
dic.pop('fav_song')
dic

['fkj', 'coldplay']

In [223]:
## update method
dic = {'name':'harry','age':23 ,'jobs':['google','apple']}
dic

more_data = dict( state='sikkim',hobbies='guitar')
more_data

{'state': 'sikkim', 'hobbies': 'guitar'}

In [225]:
dic.update(more_data)

In [227]:
more_data = dict(name='meul',age=21,jobs='uber')
more_data

{'name': 'meul', 'age': 21, 'jobs': 'uber'}

In [229]:
dic.update(more_data)
dic

{'name': 'meul',
 'age': 21,
 'jobs': 'uber',
 'state': 'sikkim',
 'hobbies': 'guitar'}

In [243]:
## fromkeysmethod

dic = dict.fromkeys(('name','age','height'),'unknown')
dic

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [245]:
# get to check key exists in a dictinory
dic.get('name')

'unknown'

### Exc:
    Return a cube of n numbers in dic

In [251]:
def cube_cal(a):
    cube = {}
    for i in range(0,a):
        cube[i]=i**3
    return cube

In [252]:
cube_cal(4)

{0: 0, 1: 1, 2: 8, 3: 27}

### Exc:
    Word counter
    Char counter

In [261]:
word = 'recration'
word[0]

'r'

In [267]:
## char counter
def char_counter(word):
    out={}
    for w in range(0,len(word)):
        out[word[w]] = word.count(word[w])
        
    return out

In [268]:
char_counter('fulffy')

{'f': 3, 'u': 1, 'l': 1, 'y': 1}

In [284]:
## Word counter

def word_counter(sent):
    out= dict.fromkeys(sent.split(' '),'NA') ## create keys first i.e unique words then iterate 
    print(out)
    for key in out:
        out[key] = sent.count(key)
    return out

In [285]:
word_counter('boom shaka you did it like you mean it')

{'boom': 'NA', 'shaka': 'NA', 'you': 'NA', 'did': 'NA', 'it': 'NA', 'like': 'NA', 'mean': 'NA'}

{'boom': 1, 'shaka': 1, 'you': 2, 'did': 1, 'it': 2, 'like': 1, 'mean': 1}

## Sets
    Unordered collection of unique items
    We can store - strings , nums , float but not dic or lists

In [288]:
a = [1,1,1,12,2,24,4,5]
print(a)
print(list(set(a))) ## s tore unique values only

[1, 1, 1, 12, 2, 24, 4, 5]
[1, 2, 4, 5, 12, 24]

## Methods in set:
    - add(val) - add item in a aset
    - remove item .remove(val)
    - discard method
    - clear will remove items

In [296]:
s = {1,2,3}
s.add(5)
print(s)

{1, 2, 3, 5}

In [297]:
s.remove(2)
s

{1, 3, 5}

## Mathematical operations in sets :
* Union - using pipe |
* intersection using and

In [299]:
s1 = {1,2,3}
s2 = {2,3,5,6,7}
print(s1,s2)

{1, 2, 3} {2, 3, 5, 6, 7}

In [300]:
## union 
s1 | s2

{1, 2, 3, 5, 6, 7}

In [302]:
## intersection
s1 and s2

{2, 3, 5, 6, 7}