# Central Tendency 
* Measure of central tendency yeild information about places or group of location eg - mean OR single number describing the spead of data
*

## Basics - 
## Data - Records / entry fo values that can be structred or unstructred
#### Types of Data-
### 1.  Numerical Data 
Numerical data are something that we measure or count such as weight, volume , time etc
* Types -
    * Discrete - Countable data. Can take specific value in specific range . Eg - Tossing a coin, size of shoe , a baby shoes size cant be 9 
    * Continous - What we measire. It can take any value in an given range. Eg - height of people


### 2. Categorical Data - (Qualitative)
Categorical data is a collection of information that is divided into groups. I.e, if an organisation or agency is trying to get a biodata of its employees, the resulting data is referred to as categorical. This data is called categorical because it may be grouped according to the variables present in the biodata such as sex, state of residence, etc.
* Types  - 
    * Nominal Data - There is no relationship between datas .Nominal data is sometimes called “labelled” or “named” data. Examples of nominal data include name, hair colour, sex, Employee ID , Pincodes
    * Ordinal Data - There is an order & relationship.Ordinal data is a kind of categorical data with a set order or scale to it. For example, ordinal data is said to have been collected when a responder inputs his/her financial happiness level on a scale of 1-10. Eg - Mutual funds Risks i.e AAA, AA, Fortune 50 ranks etc

## Types of Central Tendency 
* Arithmetic Mean or commonly known as Mean
* Weighted Mean 
* mean,median & mode
* percentile

## Arithmetic Mean or commonly known as Mean $ \mu $ (mu)

- Average of group of numbers
- Applicable for interval & ratio data
- Not applicable for nominal or ordinal data (categorical data)
- Affected by each value in the data set, including extreme values 
- Computed by summing all values in the data set divided by count of values in dataset (μ)

In [4]:
## example 
x = [1,2,3,4,5]
mean = sum(x)/len(x)
print(mean)

3.0

### Mean of grouped data - 
- Grouped mean is sum of all grouped frequency mean by sum of group frequency 
- Frequency mean is group frequency * Group mean
- weighted average of class midpoint 
- class frequency are the weights

In [5]:
## example 
standard = ['class 1', 'class 2', 'class 3', 'class 4', 'class 5']

num_students = [23,34,24,47,52] 

mean_marks_obtained = [23,24,32,44,45]

In [24]:
## creating a dataframe of students in a class
import pandas as pd
class_data = pd.DataFrame(columns=['standard','num_students','mean_marks_obtained'])
class_data['standard'] = standard 
class_data['num_students'] = num_students 
class_data['mean_marks_obtained'] = mean_marks_obtained

In [26]:
class_data

  standard  num_students  mean_marks_obtained  Frequency_midpoint
0  class 1            23                   23                 529
1  class 2            34                   24                 816
2  class 3            24                   32                 768
3  class 4            47                   44                2068
4  class 5            52                   45                2340

In [33]:
class_data['Frequency_midpoint'] = class_data['num_students']*class_data['mean_marks_obtained']
class_data

  standard  num_students  mean_marks_obtained  Frequency_midpoint
0  class 1            23                   23                 529
1  class 2            34                   24                 816
2  class 3            24                   32                 768
3  class 4            47                   44                2068
4  class 5            52                   45                2340

In [31]:
## Grouped mean is sum of frequency mean by sum of groupfrequency 
grouped_mean = sum(class_data.Frequency_midpoint)/sum(class_data.num_students)
print(weighted_mean)

36.227777777777774

### Weighted Average
- Averaging numbers, but we want to assign more
- Assigning importance to some numbers 
- $Weighted Average = \frac{\sum{xw}}{\sum{w}}$
- Weighted average = (Sum of w (weight) * value) /  weights

Q. Suppose your midterm test score is 83 and your final exam score is 95. Using weights 40 % for midterm and 60% for the final exam, COmpute the weighted average of your score. If the minimum average for an A is 90, will you earn an A?

In [35]:
weighted_avg = (83*0.40 + 95*0.60)/ (0.4+0.6)
weighted_avg

90.2

## Median
- Middle value in an ordered array of numbers
- Applicable for ordinal, interval & ratio data
- not applicable for nominal data 
- Unaffected by extremely large and extremely small values

### Compute Median 
Can be done in two ways - 
First Way - 
- arrange the obseravtion in an ordered array 
- if there is an odd number of terms (odd len of values) the median is the middle term of the ordered array
- If there is an even number of terms the median is the average of the middle two terms

Second Way - 
- The medians position is an ordered array is given by:
$median = \frac{n+1}{2}$

### With odd number of terms:

In [37]:
lis_num = [2,11,23,121,11,45,34,22,44,1,2,3,5]

In [57]:
## Sortting the list
lis_num.sort()
print(lis_num)
print(f'length is: {len(lis_num)}')

[1, 2, 2, 3, 5, 11, 11, 22, 22, 23, 34, 44, 45, 121, 200, 311]
length is: 16

In [58]:
# so there are 13 terms
median_pos = int((len(lis_num)+1)/2)
median_pos

8

In [59]:
lis_num[median_pos]

22

### With even number of terms:

In [60]:
lis_num = [2,11,23,121,11,45,34,22,44,1,2,3,5,200,311,22]

In [61]:
## Sortting the list
lis_num.sort()
print(lis_num)
print(f'length is: {len(lis_num)}')

[1, 2, 2, 3, 5, 11, 11, 22, 22, 23, 34, 44, 45, 121, 200, 311]
length is: 16

In [62]:
# so there are 13 terms
median_pos = (len(lis_num)+1)/2
median_pos

8.5

In [64]:
## The median is between 8 th term & 9th term , which is nothing but the average of two values:
median_eve = (lis_num[8]+lis_num[9])/2
median_eve

22.5

### Median of grouped data ,

## Mode
- The most frequently occurung value in a dataset
- Applicable to all levels of data measurement (nominal, oridnal,interval & ratio)
- Bimodal -- Data sets that have two modes
- Multimodal -- Data sets that contain more than two modes

In [89]:
num_lis = [1,2,2,3,5,6,73,2,4]

def mode(numbers):
    dic = {}
    for num in numbers:
    #     print(num)
        dic[num]=numbers.count(num)
    return dic

In [93]:
dic = mode(num_lis)
dic

{1: 1, 2: 3, 3: 1, 5: 1, 6: 1, 73: 1, 4: 1}

### Mode of a grouped data
- Find midpoint of mode class
- modal class has the greastest frequency
$ Mode(grouped) = L+[{\frac{d1}{d1+d2}]*w}$

L = lower limit of mode interval i.e max frequency of class interval 
d1 = difference between lower class interval & by previous frequency of lower limit of a class
d2 = difference between upper class interval by next frequency of upper milt of a classs
w = width of class

In [138]:
# initialize list of lists 
data = [['20-under 30', 3], ['30-under 40', 10], ['40-under 50', 7]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['class interval', 'frequency']) 
  
# print dataframe. 
df

  class interval  frequency
0    20-under 30          3
1    30-under 40         10
2    40-under 50          7

In [139]:
## w = here class interval is 10 
## l = lower limit of model class is 30
## d1 = 10 -3
## d2 = 10 - 7
mode = 30 + (7/(7+3))*10
mode

37.0

### Percentile 
- Measure of central tendency that divide a group of data in 100 parts 
- Eg - 90% percentile incdicates that at most 90% of the data lie below it and atleast 1- of the data lie above it
- the median & the 50th percentile have the same value
- Applicable for ordinal , interval & ratio data
- Not applicable for nominal data

#### Computing percentile 
- oprganise the data into an ascending ordered array
- calculate the  pth percentile location:
$i = \frac{P}{100}*n$
- Determine the percentile location 7 value
- if i is a whole number, the percentile is the average of the values at the i & (i+1) position
- if i is not a whole number, the percentile is at the (i+1) position in the ordered array

In [141]:
data = [14,12,19,23,5,13]
data.sort()
data

[5, 12, 13, 14, 19, 23]

In [143]:
## 30th percentile =
i = (30/100)*(len(data))
i

1.7999999999999998

In [144]:
location_index = i+1
location_index

2.8

In [146]:
## which is 2.8 so taking whole number portion it is 3 
print(f' the 30th percentile is : {data[3]}')

 the 30th percentile is : 14

# Dispersion :
Measure of variablity describe the spread or the dispersion of a set of data 
- Reliability of mean is explained by dispersion

## Types of dispersion
* Skewness
* Kurtosis 
* Range
* IQR (Interquartile Range)
* Variance
* Standard score
* Coeficient of variation
* Z - scores

### - Range

- the difference between the largest and the smallest values in a set of data 
- ignores all data points except the two extremes
- range = largest_val - smallest_val

### - Quartiles 
- measure of central tendency that divides a group of data into four subgroups
- Q1 = 25% of the data set is below the first quartile
- Q2 = 50% of the data set is below the second quartile (median)
- Q3 = 75% of the data set is below the third quartile
- Q1 = 25th percentile
- Q2 = 50th percentile
- Q3 = 75th percentile
- Quartile values are not necissarily members of the data set

In [158]:
data = [106,109,114,121,122,125,129]
data.sort()
q1 =  25/100*(len(data))
q1 = round(q1+1)

q2 =  50/100*(len(data))
q2 = round(q2+1)

q3 =  75/100*(len(data))
q3 = round(q3+1)

print(f'First qurtile Q1 = {data[q1]}, 2nd quartile Q2 = {data[q2]},& Q3 = {data[q3]}')

First qurtile Q1 = 121, 2nd quartile Q2 = 122,& Q3 = 129

### IQR - Interquartile range
- Range of values between the first & third quartiles
- range of the midlle half
- Less influenced by extremes
- $   IQR = Q3 - Q1 $

In [159]:
iqr = data[q3] - data[q1]
print(iqr)

8

### Deviation From the Mean 
- find the mean 
- calculate the difference in values
- can contain negative & positive deviation

In [160]:
data = [5,9,16,17,18]
data.sort()
data

[5, 9, 16, 17, 18]

In [165]:
mean = int(sum(data)/len(data))
mean

13

In [169]:
dev_from_mean = [abs(i-mean) for i in data] ## abs is sbosulte 
dev_from_mean

[8, 4, 3, 4, 5]

### We should go for Mean Absolute deviation (M.A.D)
# $M.A.D =  \frac{\sum|X-\mu|}{N} $

In [136]:
dev_from_mean = [(i-mean) for i in data]
dev_from_mean

[2, 3, 5]

## Population Variance 
Average of squared deviation from the population mean
## $ \sigma^2 =  \frac{\sum(X-\mu)^2}{N} $

In [ ]:
data = [5,9,16,17,18]
data.sort()
data

In [ ]:
mean = int(sum(data)/len(data))
mean

In [170]:
dev_from_mean = [(i-mean)**2 for i in data] ## abs is sbosulte 
dev_from_mean

[64, 16, 9, 16, 25]

## Standard Deviation  $ \sigma $ (Sigma)
Square root of variance is Standard deviation
- Indicator of financial risk
- Quality Control
    * Constructionof quality control charts
    * Process capability Studies
- Comapring Populations
    * household incomes in two cities
    * employee absenteeism at two plants
- lesser standard deviation that is having higher homegenious dataset

# Measure Dispersion

### Empirical Rule 
* approximately 68% of all observation fall within one standard deviation of the mean.
* approximately 95% of all observation fall within two standard deviation of the mean.
* Approximately 99.7% of all observation fall within three standard deviation of the mean.

### Chebysheff's Therom 
* A more general interpretation of the standard deviation is derived from Chebysheff's Therom. which applied to all shapes of histograms (not just bell shaped)
* The proportion of observation in any sample that lie within k standarddeviation of the mean is at least:

$ 1- \frac{1}{k} for k >1$

### Coefficient of Variation
* Ratio of standard deviation to the mean, expressed as a percentage
* Measurement of relative dispersion
## $ C.V = \frac{\sigma} {\mu} *100$
* Lower the coefficient of variance better the option

## When to use C.V
### Q. Suppose we have two stocks A & B having mean 29 & 84 , std deviation 4.6 & 10 . What is the better stock?

By comparing means stock B is better but when we compare standard deviation stock A is having lower risk . Thus we have a tradeoff . Therefore we calculate C.V

In [175]:
cv_1 = (4.6/29)*100
cv_2 = (10/84)*100
print(f'CV of stock A is {cv_1} & B is {cv_2}')
print('stock A is better')

CV of stock A is 15.86206896551724 & B is 11.904761904761903
stock A is better

## Measure of Shape
- Skewness 
    - absence of symmetry
    - Extreme values in one side of a distribution , Left skewed & Right skewed
- Kurtosis
- Box & Whisker Plots

### Skewness    
    - if tail is on left hand side i.e negative skewed
    - if tail is on right hand side i.e positive skewed
    - The skewness of a distribution is measured by comparing the relative positions of the mean, median & mode
    - Distribution is symmetrical: Mean = Median = Mode
    - Distribution is right skewed : median lies between mode & mean , and mode is less than mean
    - Distribution is left skewed : median lies between mode & mean , and mode is greater than mean

### Coefficient of Skewness - 
* Summary Measure of skewness 
## $ S = \frac{3(\mu - Md)}{\sigma}$ , Md is median
* If S < 0, the distribution is negatively skewed (Skewed to the left)
* If S = 0, the distribution is symmetric (Not Skewed)
* If S > 0, the distribution is Positively skewed (Skewed to the right)

### Q. Given details mean , median & standard deviation of 3 datasets A, B & C. Identify their Skewness ?

A. mean = 23 , median 26 standard deviation = 12.3
B. mean = 26 , median 26 standard deviation = 12.3
C. mean = 29 , median 26 standard deviation = 12.3

In [190]:
skew_A = (3*(23-26))/12.3
skew_B = (3*(26-26))/12.3
skew_C = (3*(29-26))/12.3
print(f'Skwness is A = {skew_A}, i.e it is left skewed B = {skew_B} not skewed & C = {skew_C} i.e right skewed')

Skwness is A = -0.7317073170731707, i.e it is left skewed B = 0.0 not skewed & C = 0.7317073170731707 i.e right skewed

## Kurtosis 
* Peakedness of a distribution
    - Leptokurtic: high & thin
    -  Mesokurtic: normal in shape
    - Platykurtic: flat and spread out

## Box & Whisker Plot
Box & Whiskers plot signifies 5 positions :
    - Median, Q2
    - First quartile Q1
    - Third quartile , Q3
    - Min Val
    - Max val in data set

In [196]:
tup = (1,2,3,4,5)

In [198]:
tup.append((5,6,7))

AttributeError: 'tuple' object has no attribute 'append'

In [202]:
list(range(2,10,2))

[2, 4, 6, 8]

# *[NOTES]

- When to use mean meadian mode ?    
    - Whenever data is skewed we should go for median as a central tendancy
    - When data is a bell curve we can use any one i.e mean meadin mode